<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="min-h-full flex items-center justify-center py-11 px-6 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <div class="circle">20</div>
        <img class="absolute top-0 max-h-12 w-auto" src="assets/img/first-logo.svg" alt="Workflow">
        <!-- login atas -->
        <h2 class="mt-6 text-start text-3xl font-extrabold text-gray-900">Login </h2>
        <p class="mt-2 text-start text-sm text-gray-600">
          Masuk sebagai<b class="text-orange-400"> Guru</b>
        </p>
      </div>
      <!-- login atas -->

      <!-- form input email pass -->
      <form [formGroup]="signInForm" class="mt-8 space-y-2" (ngSubmit)="onSignIn()">
        <input type="hidden" name="remember" value="true">

        <div>
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" placeholder="Email Address" formControlName="email" [(ngModel)]="email"
              autocomplete="off">
            </ion-input>
            <ion-note slot="error" *ngIf="(fc.email.touched || isSubmitted) && fc.email.errors?.required">
              Email tidak boleh kosong.
            </ion-note>
          </ion-item>
        </div>
        <div>
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label position="floating">Password</ion-label>
            <ion-input [type]="passwordInputType ? 'text':'password' " placeholder="Password" formControlName="password"
              autocomplete="off">
            </ion-input>
            <ion-icon class="py-3" slot="end" [name]="passwordIcon" (click)="showPassword()"></ion-icon>
            <ion-note slot="error" *ngIf="(fc.password.touched || isSubmitted) &&  fc.password.errors?.required">
              Password tidak boleh kosong
            </ion-note>
            <ion-note slot="error" *ngIf="(fc.password.touched || isSubmitted) &&  fc.password.errors?.minlength">
              Passsword minimal 6 karakter.
            </ion-note>
          </ion-item>
        </div>

        <!-- form input email pass -->


        <div class="flex items-center justify-end">


          <!-- lupa password -->
          <div class="text-sm">
            <a href="#" class="font-medium text-orange-500 hover:text-orange-500"> Lupa password? </a>
          </div>
        </div>
        <!-- lupa password -->

        <!-- button login -->
        <div>
          <ion-button expand="block" color="warning" (click)="goSubmit()" type="submit">Login
          </ion-button>
        </div>
      </form>


    </div>
  </div>
</ion-content>